#bot {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 5px;
}

.botbtn {
    position: fixed;
    bottom: 75px;
    right: 5px;
    z-index: 10;
    color: #8bd8bd !important;
    background-color: #243665 !important;
}

.botbtn:hover {
    background-color: #8bd8bd !important;
    color: #243665 !important;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.covmap {
    padding-bottom: 0px;
    padding-top: 25px;
}