<!doctype html>
	<head> 
    <title>robomua</title>
	<meta charset = "utf-8" /> 	
	<link rel = "icon" href = "https://i.pinimg.com/236x/6c/cb/ac/6ccbac64a795932f31a00cc819e117b9--fashion-magazines-young-women.jpg" type = "image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head> 

<body>	
	<div class="menu"></div>

	<nav class="nav">
		<ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Business</a>
            <ul>
            <li><a href="#">Type 1</a></li>
            <li><a href="#">Type 2</a></li>
            <li><a href="#">Type 2</a></li>
            </ul>
            </li>
            <li><a href="#">GoFundMe</a>
            <ul>
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
            </ul>
            </li>
            <li><a href="#">Help!!!</a></li>
            <li><a href="https://google.com" target="_blank">About</a></li>
		</ul>
	</nav>
</body>