<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>COVID-19</title>

  <!-- Custom fonts for this theme -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom CSS -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="../static/css/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">COVXIX</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/home">Home</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/relief">Relief Funds</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/contribute">Contribute</a>
		      </li>
		      <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Resources</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Resource Section -->
<section class="page-section portfolio" id="portfolio">
        <div class="container">
            <br/>
          <!-- Resource Section Heading -->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Useful Links</h2>
    
          <!-- Icon Divider -->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
              <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
          </div>
    
          <!-- Resource Grid Items -->
          <div class="row">
    
            <!-- Resource Item -->
            {% for item in resources %}
            <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">
                  <div class="portfolio-item-caption-content text-center text-white">
                    <!-- <i class="fa fa-external-link fa-3x"></i> -->
                  </div>
                </div>
                <a href='{{ item.Link }}' target="_blank" style="text-decoration:none">
                <img class="img-fluid" src='{{ item.Image }}' alt="">
                <br/><br/>
                <p class="masthead-subheading font-weight-heavy mb-0 text-center text-uppercase">
                {{ item.Name }}
                </p>
                </a>
              </div>
            </div>
            {% endfor %}
    
          </div>
          <!-- /.row -->
    
        </div>
      </section>

   <!-- Footer Section -->
   <footer class="copyright py-4 text-center footer">
        <div class="cont">
          <small>Copyright &copy; COVXIX 2020</small>
        </div>
      </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

 
	<!-- Bootstrap core JavaScript -->
	<script src="../static/vendor/jquery/jquery.min.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="../static/js/freelancer.min.js"></script>

</body>

</html>